body {
  background-color: black;
  color: white !important;
}

/* 페이지 전환 애니메이션 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-container {
  animation: fadeIn 0.5s ease-in-out;
}